
/*---------------------------------------------------Réglages généraux----------------------------------------------------------*/ 
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    color: black;
}

/*-----------------------------------------------Entête du site-----------------------------------------------------------------*/

header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.logo_reservia{
    width: 50%;
    padding-left: 16px;
}
.navigation_1,.navigation_2,.navigation_3 {
    width: 50%;
}
.navigation_1 {
    text-align: right;
    padding-right: 16px;
    color: black;
    display: flex;
    align-items: center;
}
.navigation_2,.navigation_3 {
    text-align: center;
    height: 49px;
    display: flex;
    align-items: center;
    color: black;
}
.navigation_1 a{
    width: 100%;
    color: blue;
}
.navigation_2 a,.navigation_3 a {
    width: 100%;
    color: black;

}
.navigation_2:hover,.navigation_3:hover {
    border-bottom: blue 2px solid;
}
.navigation_2 a:hover,.navigation_3 a:hover{
    color: blue;
} 
    
header a{
    text-decoration: none;
}

/*------------------------------------------------------------------Menu de gavigation------------------------------------------------------*/

nav {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form{
    display: flex;
    width: 40%;

}

form label{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #DCDCDC;
    border-radius: 7px 0px 0px 7px;
}

form label img {
    height: 20px;
    width: 20px;
    background-color: rgb(239,239,239);
}
form button{
    padding: 0px;
    border: 0px;
    height: 30px;
    width: 30px;
    border-radius: 7px 7px 7px 7px;
    margin-left: -4px;
    z-index: 2;
}
form button img{
    height: 30px;
    width: 30px;
    border-radius: 7px 7px 7px 7px;
}
form input {
    color: black;
    border-left: 0px ;
    border-right: 0px ;
    border-top: 1px solid #DCDCDC ;
    border-bottom: 1px solid #DCDCDC ;
    height: 30px;
    z-index: 1;
}

/*-------------------------------Navigation liste à puce (Filtre)--------------------------------------*/

nav ul {

    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
}
nav div ul li {
    
    height: 30px;
    width: 160px;
    display: flex;
    align-items: center;
    border-top: 1px solid #DCDCDC ;
    border-bottom: 1px solid #DCDCDC ;
    border-right: 1px solid #DCDCDC ;
    border-radius: 25% 25% 25% 25%;
}
nav li div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 2px solid #DEEBFF; 
    border-radius: 50%;
    background-color: #DEEBFF;
}
nav div ul li p {
    margin-left: 5px;
}

nav li img{
    height: 20px;
    width: 20px;
}

/*------------------------------------------------------Navigation information----------------------------------------------------*/

.info{
    height: 30px;
    display: flex;
    align-items: center;
    
}
.info img {
    width: 20px;
    height: 20px;
}
.info h4{
    margin: 0px 0px 0px 5px;
}

/*------------------------------Section_1---------------------*/

.section_1{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
/*.section_1 h3{
    margin-left: 45px;
}*/
.hebergements_marseille h3{
    width: 300px;
    text-align: center;
}
.les_pop h3{
    width: 200px;
    text-align: center;
}
.section_2 h3{
    width: 270px;
    text-align: center;
    margin: 18px 0px;
}

/*------------------------------Les populaires---------------*/
.les_pop{
    background-color: rgb(239,239,239);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-bottom: 15px;  
}
.aperçu_pop{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.Pop_img{
    margin-bottom: 15px;
    border: 6px solid white;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(28,26,25,0.3);
    width: 220px;
    height: 140px;
}
.Pop_img>div{
    width: 100%;
    height: 100%;
}
.Pop_img a{
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
}
.Pop_img a div{
    background-color: white;
    width: 100%;
    position:absolute;
    bottom: 0px;
}
.Pop_img a p{
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    color: black;
}
.Pop_img a div{
    height: 50px;
}
.Pop_img a div div,.Pop_img a div div img{
    width: 15px;
    height: 15px;
}
.Pop_img a div div{
    display: flex;
    margin-bottom: 0px;
    margin-left: 5px;
}
/*------------------------------Hébergement marseille------------*/
.hebergements_marseille{
    background-color: rgb(239,239,239);
    width: 100%;
    display: flex;
    flex-wrap: wrap ; 
    border-radius: 20px;
    margin-bottom: 15px;    
}
.aperçu_hebergements{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}
.hebergements_img{
    margin-bottom: 15px;
    border: 6px solid white;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(28,26,25,0.3);
    width: 280px;
    height: 200px;
}
.hebergements_img>div{
    width: 100%;
    height: 100%;
}
.hebergements_img a{
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
}
.aperçu{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}
.hebergements_img a div{
    background-color: white;
    width: 100%;
    position:absolute;
    bottom: 0px;
}
.hebergements_img a p{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 100%;
    color: black;
}
.hebergements_img a div{
    height: 70px;
}
.Nom_hôtel{
    font-weight: bold;
}
.hebergements_img a div div,.hebergements_img a div div img{
    width: 15px;
    height: 15px;
}
.hebergements_img a div div{
    display: flex;
    margin-bottom: 5px;
    margin-left: 5px;
}

/*--------------------------------------Section_2----------------------*/

.section_2{
    display: flex;
    flex-direction: column;
}

.activité_marseille{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-bottom: 15px;  
}
#Vieux_port{
    width: 280px ;   
    height: 200px ;
}
#Pomègue{
    width: 280px;
    height: 200px;
}
#frioul{
    width: 280px;
    height: 200px;
}
#calanques{
    width: 280px ;   
    height: 200px ;
}
#notre_dame{
    width: 280px;
    height: 200px;
}
#longchamp{
    width: 280px;
    height: 200px;
}
.Cannebière{
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(28,26,25,0.3);
}
.Cannebière>div{
    width: 100%;
    height: 100%;
}
.Cannebière a {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
}
.nom_activité{
    display: flex;
    align-items: center;
    position:absolute;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    bottom: 0px;
    margin: 0px;
    Padding-left: 15px;
    width: 100%;
    height: 30px;
    color: black;
}
.aperçu_activé{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

/*-----------------------------------Footer------------------------*/

footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(239,239,239) ;
}
footer div{
    display: flex;
    flex-direction: column;
}
footer div h4{
    margin-bottom: 0px;
}
footer ul{
    list-style-type: none;
    padding: 0px;
}











